:root {
    --g: #93fd91;
    --dg: #179b51;
    --hoverg: rgb(0, 82, 59);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Signika Negative', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--dg);
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--g);
    display: flex;
    align-items: center;
}

img#imgLogo {
    width: 65px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

header>h1 {
    font-size: 25px;
    margin-left: 15px;
    color: var(--dg);
    cursor: pointer;
    user-select: none;
}


img#menuIcon {
    display: none;
    width: 25px;
    position: absolute;
    right: 2%;
    filter: invert(100);

}

div.container {
    width: 100%;
    min-height: 665px;
    display: flex;
    flex-direction: row;
}

/* Menu section starts */

div#container1 {
    width: 20%;
    background-color: var(--g);
    display: block;
    height: inherit;
}

ul.listMenu {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

li.listItems {
    width: inherit;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dg);
}

li.listItems:hover {
    cursor: pointer;
}

#menuItem1 {
    background-color: var(--dg);
    color: white;
}

/* Menu section over */

/* Order Menu Items display starts*/
div#orderMenuPage {
    display: none;
    position: absolute;
    top: 13%;
    right: 22%;
    width: 800px;
    height: 600px;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.451);
    border-radius: 10px;

}

/* Order Menu Items display over*/

/* Order option section starts */


div#container2 {
    width: 80%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 165px);
    grid-template-rows: repeat(2, 165px);
    grid-row-gap: 50px;
    grid-column-gap: 40px;
    color: var(--dg);
    padding: 40px;
    margin-bottom: 60px;
}

div.catag {
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    user-select: none;
}

div.catag:hover {
    color: rgb(0, 82, 59);
    box-shadow: 10px 10px 10px rgba(54, 54, 54, 0.451);
    transition: .25s;
    cursor: pointer;
}

/* Order option section over */

div.container3 {
    width: 80%;
    height: inherit;
    display: none;
    justify-content: center;
    grid-template-columns: repeat(1, 1000px);
    grid-template-rows: repeat(2, 60px);
    grid-row-gap: 30px;
    color: var(--dg);
    padding: 50px;
    margin-bottom: 60px;
}

div.orderListHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    width: 1000px;
    height: 60px;
    border-radius: 10px;
}


div.orderList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 1000px;
    height: 60px;
    border-radius: 10px;
}

div.orderList:hover {
    color: var(--hoverg);
    box-shadow: 10px 10px 10px rgba(54, 54, 54, 0.451);
    transition: .25s;
    cursor: pointer;
}

p.orderId {
    text-align: center;
    width: 80px;
    margin-left: 50px;
}

p.totalItems {
    text-align: center;
    width: 80px;
}

p.timePlaced {
    text-align: center;
    width: 85px;
}

p.orderStatus {
    text-align: center;
    width: 85px;
    margin-right: 50px;
}



/* Bottom div starts */

div#bottomDiv {
    display: none;
    width: 100%;
    height: 60px;
    background-color: var(--g);
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 10px;
}

button#logOutIcon {
    color: white;
    background-color: var(--dg);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;

}


button#logOutIcon:hover {
    background-color: var(--hoverg);
    transition: .25s;
}

button#cartButton {
    background-color: var(--dg);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

button#cartButton:hover {
    background-color: var(--hoverg);
    transition: .25s;
    cursor: pointer;
}

/* Cart Menu starts */
div.container4 {
    width: 80%;
    height: inherit;
    justify-content: center;
    grid-template-columns: repeat(1, 1000px);
    grid-template-rows: repeat(10, 60px);
    grid-row-gap: 30px;
    color: var(--dg);
    margin-bottom: 60px;
    padding: 50px;
}

div#orderMenuCart {
    display: none;
}

#backArrow {
    width: 30px;
    height: 30px;
    rotate: 180deg;
    margin-right: auto;
}

div.cartHead {
    width: 1000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

div.cartHead h2 {
    font-size: 30px;
    margin-right: auto;
}

div#itemHead {
    background: none;
    color: white;
}

div.item {
    background-color: white;
    color: var(--dg);
    width: 1000px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

p.itemName {
    width: 80px;
    text-align: center;
}

div.ItemCount {
    width: 80px;
    text-align: center;
}

p.totalCost {
    width: 80px;
    text-align: center;
}

/* Cart Menu ends */

/* Sub menu starts */
#subMenu
{
    display: none;
}


#backArrowItem {
    width: 30px;
    height: 30px;
    rotate: 180deg;
    margin-right: auto;
}
/* Sub menu ends */


/* Bottom div ends*/


@media(max-width: 1280px) {
    div#container2 {
        justify-content: center;
        grid-template-columns: repeat(4, 165px);
        grid-template-rows: repeat(2, 165px);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
    }

    div.container3 {
        grid-template-columns: repeat(1, 900px);
        grid-row-gap: 20px;
        padding: 10px;
    }


    div.orderListHead {
        width: 900px;
    }


    div.orderList {
        width: 900px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 900px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 900px;
    }

    div.cartHead h2 {
        font-size: 30px;
    }

    div.item {
        width: 900px;
    }
}


@media(max-width: 1141px) {

    header>h1 {
        font-size: 23px;
    }

    header {
        height: 60px;
    }

    img#imgLogo {
        width: 50px;
    }

    div.container3 {
        grid-template-columns: repeat(1, 700px);
        grid-row-gap: 20px;
        padding: 10px;
    }

    div.orderListHead {
        width: 700px;
    }


    div.orderList {
        width: 700px;

    }

    li.listItems {
        font-size: 17px;
    }


    div.container4 {
        grid-template-columns: repeat(1, 700px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 700px;
    }

    div.cartHead h2 {
        font-size: 25px;
    }

    #backArrow {
        width: 25px;
        height: 25px;
    }
    #backArrowItem {
        width: 25px;
        height: 25px;
    }

    div.item {
        width: 700px;
        font-size: 17px;
    }

    div#bottomDiv {
        width: 100%;
        height: 50px;
        background-color: var(--g);
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        bottom: 0;
        padding: 10px;
    }

    button#logOutIcon {
        color: white;
        background-color: var(--dg);
        padding: 7px;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    button#cartButton {
        background-color: var(--dg);
        color: white;
        border: none;
        padding: 7px;
        font-size: 13px;
        border-radius: 5px;
    }
}

@media(max-width: 975px) {

    img#menuIcon {
        display: block;
    }

    div#container1 {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 3;
        height: 120px;
    }

    div#container2 {
        width: 100%;
        padding: 20px;
    }

    div.container3 {
        width: 100%;
        grid-template-columns: repeat(1, 600px);
        grid-row-gap: 20px;
    }

    div.orderListHead {
        width: 600px;
    }

    div.orderList {
        width: 600px;
    }

    div.container4 {
        width: 100%;
        grid-template-columns: repeat(1, 600px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 600px;
    }

    div.item {
        width: 600px;
    }
}

@media(max-width: 647px) {
    div.container3 {
        grid-template-columns: repeat(1, 550px);
        grid-row-gap: 20px;
    }

    div.orderListHead {
        width: 550px;
    }

    div.orderList {
        width: 550px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 550px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 550px;
    }

    div.item {
        width: 550px;
    }

    #backArrow {
        width: 20px;
        height: 20px;
    }
    #backArrowItem {
        width: 20px;
        height: 20px;
    }
}

@media(max-width: 766px) {

    header {
        height: 50px;
    }

    header h1 {
        font-size: 20px;
    }

    div#container2 {
        grid-template-columns: repeat(3, 165px);
        grid-template-rows: repeat(3, 165px);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }

    button#cartButton {
        font-size: 12px;
    }

    #menuIcon {
        margin-right: 10px;
    }

}


@media(max-width: 567px) {
    div#container2 {
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: repeat(4, 165px);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }

    div.container3 {
        width: 100%;
        grid-template-columns: repeat(1, 450px);
        grid-row-gap: 20px;
        font-size: 15px;
    }

    div.orderListHead {
        width: 450px;
    }

    div.orderList {
        width: 450px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 450px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 450px;
    }

    div.item {
        width: 450px;
    }
}


@media(max-width: 479px) {
    div.container3 {
        width: 100%;
        grid-template-columns: repeat(1, 400px);
        grid-row-gap: 20px;
        font-size: 15px;
    }

    div.orderListHead {
        width: 400px;
    }

    div.orderList {
        width: 400px;
    }

    p.orderId {
        margin-left: 10px;
    }

    p.orderStatus {
        margin-right: 10px;
    }


    div.container4 {
        width: 100%;
        grid-template-columns: repeat(1, 400px);
        grid-row-gap: 20px;
    }

    div.cartHead {
        width: 400px;
    }

    div.item {
        width: 400px;
    }
}

@media(max-width: 417px) {
    div.container3 {
        grid-template-columns: repeat(1, 325px);
        grid-row-gap: 20px;
        font-size: 13px;
    }

    div.orderListHead {
        width: 325px;
    }

    div.orderList {
        width: 325px;
    }

    p.orderId {
        margin-left: 5px;
    }

    p.orderStatus {
        margin-right: 5px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 400px);
        grid-row-gap: 20px;
        font-size: 13px;
    }

    div.cartHead {
        width: 400px;
    }

    div.item {
        width: 400px;
    }

}

@media(max-width: 411px) {

    div.container4 {
        grid-template-columns: repeat(1, 370px);
        grid-row-gap: 20px;
        font-size: 13px;
    }

    div.cartHead {
        width: 370px;
    }

    div.item {
        width: 370px;
    }
}

@media(max-width: 376px) {
    div#container2 {
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(8, 200px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        padding: 10px;
    }

    div.catag {
        width: 200px;
        height: 200px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 310px);
        grid-row-gap: 20px;
        font-size: 13px;
    }

    div.cartHead {
        width: 310px;
    }

    div.item {
        width: 310px;
    }
}

@media(max-width: 342px) {
    header h1 {
        margin-left: 5px;
    }

    div.container3 {
        width: 100%;
        grid-template-columns: repeat(1, 275px);
        grid-row-gap: 15px;
        font-size: 13px;
    }

    div.orderListHead {
        width: 275px;
    }

    div.orderList {
        width: 275px;
    }

    p.orderId {
        margin-left: 0px;
    }

    p.orderStatus {
        margin-right: 0px;
    }

    div.container4 {
        grid-template-columns: repeat(1, 275px);
        grid-row-gap: 15px;
        font-size: 11px;
    }

    div.cartHead {
        width: 275px;
    }

    div.item {
        width: 275px;
    }

    div.cartHead h2 {
        font-size: 20px;
    }
}

@media(max-width: 284px) {
    div.container3 {
        width: 100%;
        grid-template-columns: repeat(1, 220px);
        grid-row-gap: 15px;
        font-size: 11px;
    }

    div.orderListHead {
        width: 220px;
    }

    div.orderList {
        width: 220px;
    }

    div.container4 {
        width: 100%;
        grid-template-columns: repeat(1, 230px);
        grid-template-rows: repeat(3, 50px);
        grid-row-gap: 15px;
        font-size: 11px;
    }

    div.cartHead {
        width: 230px;
        height: 50px;
    }

    div.item {
        width: 230px;
        height: 50px;
    }
}